# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=work_report_db

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET_NAME=reports

# Backend
SECRET_KEY=yoursecretkeyhere
ADMIN_EMAIL=admin@company.com
ADMIN_PASSWORD=admin123
FRONTEND_URL=http://localhost:5173

# Frontend
FE_VITE_API_URL=http://localhost:8000
